
A:LINK {
	color :#00476D ;	
}

A:ACTIVE {
	color : #0000CC;
}

A:HOVER {
	color : #ADC9A9;
}

A:VISITED {
	color :#800080 ;
}

INPUT {
	font-size : 7pt;
}

TABLE, TH {
	font-size : 9pt;
}

TD {
	font-size : 8pt;
	text-align : right;
}

TABLE.layoutmain {
	border : 4px solid #669999;
}

.odd {
	background : transparent;
}

.even {
	background : #C3C3C3;
}

.headtextr {
    color : #333333;
	background-color :#709AAD ;
}

.headtextc {
    color : #333333;
}

.rowon {
	background : #FFFFFF;
	color : #CC0000;
}

#sorton {
	font-size : 12pt;
	font-style : italic;
	font-weight : bold;
	font-family : "Times New Roman", Times, serif;
	background-color : #669999;
}

.charttick {
	border-top-color : Black;
	border-top-style : solid;
	border-top-width : thin;
	width : 25px;
}
